version: '3.8'

services:

    frontend:
      build:
        context: .
        dockerfile: Dockerfile.frontend
      ports:
        - "5000:5000"
      container_name: frontend

    backend:
      build:
        context: .
        dockerfile: Dockerfile.backend
      ports:
        - "8080:8080"
      container_name: backend
      environment:
        - REDIS_HOST=redis
        - REQUEST_ORIGIN=http://localhost:5000
      restart: unless-stopped

    redis:
      image: redis
