version: '3.8'

services:

    frontend:
      build:
        context: .
        dockerfile: Dockerfile.frontend
      ports:
        - "5000:5000"
      container_name: frontend

    backend:
      build:
        context: .
        dockerfile: Dockerfile.backend
      ports:
        - "8080:8080"
      container_name: backend
      environment:
        REDIS_HOST: redis
        POSTGRES_HOST: db
      restart: unless-stopped

    db:
      image: postgres:17
      restart: unless-stopped
      environment:
        POSTGRES_PASSWORD: example
      container_name: db_postgres
    
    redis:
      image: redis